Atlas-Scientfic/Nodes/NODERED Nodes.txt
[{"id":"12783a36.3c1f6e","type":"function","z":"cfa0d202.96ec9","name":"get device status","func":"var device_status = global.get(\"device_status\") || 1;\nmsg.payload = device_status;\nreturn msg;","outputs":1,"noerr":0,"x":134,"y":139.01191479819158,"wires":[["85b49757.803c48"]]},{"id":"46bd98bf.eae568","type":"inject","z":"cfa0d202.96ec9","name":"Send Reading","topic":"","payload":"","payloadType":"str","repeat":"300","crontab":"","once":true,"onceDelay":0.1,"x":118.98822021484375,"y":85.97626168387276,"wires":[["12783a36.3c1f6e"]]},{"id":"85b49757.803c48","type":"switch","z":"cfa0d202.96ec9","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":97,"y":199.01191479819158,"wires":[["ddbfcdb7.1e48f"],["a3ac586e.d9411"]]},{"id":"ddbfcdb7.1e48f","type":"function","z":"cfa0d202.96ec9","name":"set status: 1","func":"global.set(\"device_status\",\"1\");\nreturn msg;","outputs":1,"noerr":0,"x":292,"y":192.01191479819158,"wires":[["6c914625.2b8038","fa311686.5592f","c081c61d.c160a"]]},{"id":"2a37b801.0d10d","type":"function","z":"cfa0d202.96ec9","name":"set status: 0","func":"global.set(\"device_status\",\"0\");\nreturn msg;","outputs":1,"noerr":0,"x":693,"y":309.0119147981916,"wires":[[]]},{"id":"a5bd4cce.c525d8","type":"http request","z":"cfa0d202.96ec9","name":"Send -> Server","method":"use","ret":"txt","paytoqs":false,"url":"","tls":"","proxy":"","authType":"basic","x":884,"y":309.0119147981916,"wires":[["c0d5385f.6fe2f","6cca9bc8.2dc224"]]},{"id":"7963e873.4c8808","type":"function","z":"cfa0d202.96ec9","name":"GET JSON","func":"msg.method = \"GET\";\nmsg.url    = \"https://mmrsonline.zeddevelopers.com/app/WaterMonitoringIoT/app_services/log.php?json=\"+msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":714,"y":259.0119147981916,"wires":[["a5bd4cce.c525d8"]]},{"id":"abc1cc55.05f828","type":"file","z":"cfa0d202.96ec9","name":"Append Log","filename":"/home/pi/IoT/Atlas-Scientific/log.json","appendNewline":true,"createDir":true,"overwriteFile":"false","x":508.1350898742676,"y":244.55953318732122,"wires":[["2a37b801.0d10d"]]},{"id":"c0d5385f.6fe2f","type":"debug","z":"cfa0d202.96ec9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1077,"y":309.0119147981916,"wires":[]},{"id":"6c914625.2b8038","type":"pythonshell in","z":"cfa0d202.96ec9","name":"Potential Hydrogen","pyfile":"/home/pi/Atlas-Scientific/ph.py","virtualenv":"","continuous":false,"stdInData":false,"x":534,"y":79.01191479819158,"wires":[["73025c7c.f9ac94"]]},{"id":"fa311686.5592f","type":"pythonshell in","z":"cfa0d202.96ec9","name":"Dissolved Oxygen","pyfile":"/home/pi/Atlas-Scientific/do.py","virtualenv":"","continuous":false,"stdInData":false,"x":536.9166793823242,"y":126.6785884584699,"wires":[["c0854da5.35d988"]]},{"id":"a3ac586e.d9411","type":"pythonshell in","z":"cfa0d202.96ec9","name":"On EZO","pyfile":"/home/pi/Atlas-Scientific/wake.py","virtualenv":"","continuous":false,"stdInData":false,"x":269.5478210449219,"y":236.72620637076238,"wires":[["ddbfcdb7.1e48f"]]},{"id":"6cca9bc8.2dc224","type":"pythonshell in","z":"cfa0d202.96ec9","name":"Sleep EZO","pyfile":"/home/pi/Atlas-Scientific/sleep.py","virtualenv":"","continuous":false,"stdInData":false,"x":1090.7857666015625,"y":354.0833435058594,"wires":[[]]},{"id":"c081c61d.c160a","type":"pythonshell in","z":"cfa0d202.96ec9","name":"Temperature","pyfile":"/home/pi/Atlas-Scientific/temp.py","virtualenv":"","continuous":false,"stdInData":false,"x":518.5833129882812,"y":177.38097340720037,"wires":[["8ecab2ad.51df38"]]},{"id":"73025c7c.f9ac94","type":"function","z":"cfa0d202.96ec9","name":"pH","func":"msg.ID = msg.payload; //a unique ID given by the creator of this message.\nmsg.topic=\"ph\";\n//msg.payload=\"pH payload\"\nreturn msg;","outputs":1,"noerr":0,"x":714,"y":79.01191479819158,"wires":[["9ac57138.3bc508"]]},{"id":"c0854da5.35d988","type":"function","z":"cfa0d202.96ec9","name":"DO","func":"msg.ID = msg.payload; //a unique ID given by the creator of this message.\nmsg.topic=\"d_o\";\n//msg.payload=\"do payload\"\nreturn msg;","outputs":1,"noerr":0,"x":714,"y":127.01191479819158,"wires":[["9ac57138.3bc508"]]},{"id":"8ecab2ad.51df38","type":"function","z":"cfa0d202.96ec9","name":"Temp","func":"msg.ID = msg.payload; //a unique ID given by the creator of this message.\nmsg.topic=\"temp\";\n//msg.payload=\"Temp payload\"\nreturn msg;","outputs":1,"noerr":0,"x":714,"y":178.01191479819158,"wires":[["9ac57138.3bc508"]]},{"id":"9ac57138.3bc508","type":"join","z":"cfa0d202.96ec9","name":"Join Reading","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"","joinerType":"str","accumulate":true,"timeout":"","count":"3","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":886,"y":126.01191479819158,"wires":[["423780ec.83f7c8"]]},{"id":"423780ec.83f7c8","type":"json","z":"cfa0d202.96ec9","name":"","property":"payload","action":"str","pretty":false,"x":894,"y":199.01191479819158,"wires":[["abc1cc55.05f828","7963e873.4c8808","14143883.18ac57"]]},{"id":"14143883.18ac57","type":"debug","z":"cfa0d202.96ec9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1074,"y":199.01191479819158,"wires":[]},{"id":"43310b63.21c6a4","type":"comment","z":"cfa0d202.96ec9","name":"Raspberry Pi -> Tentacle T3 -> DO/pH EZO -> AS DO/pH Probes","info":"","x":246.66668701171875,"y":34.44444274902344,"wires":[]}]